---
import '../../styles/Visualizador.css';
import books from '../../data/books.json';

export async function getStaticPaths() {
  return books.map(book => ({
    params: { slug: book.id.toString() }
  }));
}

const { slug } = Astro.params;
const book = books.find(b => b.id.toString() === slug);
const title = book ? book.title : "HTML Viewer";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>

    <div id="viewer" style="display:none;">
      <div id="pages" class="pages"></div>
    </div>
    <div id="pageNumber" class="page-number"></div>

    <!-- JS externo de JSZip -->
    <script is:inline src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
    <!-- Script del conversor -->
    <script define:vars={{bookPath: book?.epub}} is:inline>
      window.bookPath = bookPath;
    </script>
    <script is:inline src="/conversor.js"></script>
  </body>
</html>
