---
 
---
<!-- Este es el componente de la barra de navegación -->
<nav class="navbar">
  <div class="menu-toggle" onclick="toggleMenu()">
    <img src="/Logo2.svg" alt="Menu Icon" class="menu-icon" />
  </div>
  <div class="navbar-brand">
    <a href="/" class="navbar-link">MI-BOOK</a>
  </div>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar libros..." />
    <button class="search-button">
      <img src="/search-icon.svg" alt="Buscar" class="search-icon" />
    </button>
  </div>
</nav>

<script src="/toggleMenu.js" is:inline></script>
