---
 
---
<aside class="side-menu">
  <ul>
    <li><a href="/settings">Configuración</a></li>
    <li><a href="/categoria">Categoria</a></li>
    <li><a href="/profile">Perfil</a></li>
  </ul>
</aside>
